<?xml version="1.0" encoding="UTF-8"?>
<configuration status="info">

    <Properties>
        <Property name="LOG_HOME">logs</Property>
    </Properties>

    <!--先定义所有的appender-->
    <appenders>
        <!--这个输出控制台的配置-->
        <Console name="Console" target="SYSTEM_OUT">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <ThresholdFilter level="trace" onMatch="ACCEPT"
                             onMismatch="DENY"/>
            <!--这个都知道是输出日志的格式-->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %M-%msg%xEx%n"/>
        </Console>

        <!-- 1-框架运行中相关的日志配置 -->

        <!-- rpc info级别的 -->
        <RollingFile name="rpc-info" fileName="${LOG_HOME}/rpc-info.log"
                     filePattern="logs/rpc-info.log.%d{MM-dd-yyyy}">
            <ThresholdFilter level="info" onMatch="ACCEPT"
                             onMismatch="DENY"/>
            <PatternLayout
                    pattern="%d{yyyy-MM-dd 'at' HH:mm:ss.SSS z} %-5level %c %M-%msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="false" interval="1"/>
            </Policies>
        </RollingFile>

        <RollingFile name="rpc-trace-info" fileName="${LOG_HOME}/rpc-trace-info.log"
                     filePattern="logs/rpc-trace-info.log.%d{MM-dd-yyyy}">
            <ThresholdFilter level="info" onMatch="ACCEPT"
                             onMismatch="DENY"/>
            <PatternLayout
                    pattern="%d{yyyy-MM-dd 'at' HH:mm:ss.SSS z} %-5level %msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="false" interval="1"/>
            </Policies>
        </RollingFile>

        <!-- rpc error级别的 -->
        <RollingFile name="rpc-error" fileName="${LOG_HOME}/rpc-error.log"
                     filePattern="logs/rpc-error.log.%d{MM-dd-yyyy}">
            <ThresholdFilter level="error" onMatch="ACCEPT"
                             onMismatch="DENY"/>
            <PatternLayout
                    pattern="%d{yyyy-MM-dd 'at' HH:mm:ss.SSS z} %-5level %c %M-%msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="false" interval="1"/>
            </Policies>
        </RollingFile>

        <!-- thrift error级别的 -->
        <RollingFile name="thrift-error" fileName="${LOG_HOME}/thrift-error.log"
                     filePattern="logs/thrift-error.log.%d{MM-dd-yyyy}">
            <ThresholdFilter level="error" onMatch="ACCEPT"
                             onMismatch="DENY"/>
            <PatternLayout
                    pattern="%d{yyyy-MM-dd 'at' HH:mm:ss.SSS z} %-5level %c %M-%msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="false" interval="1"/>
            </Policies>
        </RollingFile>


        <!-- creditcard info级别的 -->
        <RollingFile name="creditcard-info" fileName="${LOG_HOME}/creditcard-info.log"
                     filePattern="logs/creditcard-info.log.%d{MM-dd-yyyy}">
            <ThresholdFilter level="info" onMatch="ACCEPT"
                             onMismatch="DENY"/>
            <PatternLayout
                    pattern="%d{yyyy-MM-dd 'at' HH:mm:ss.SSS z} %-5level %c %M-%msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="false" interval="1"/>
            </Policies>
        </RollingFile>

        <!-- creditcard warn -->
        <RollingFile name="creditcard-warn" fileName="${LOG_HOME}/creditcard-warn.log"
                     filePattern="logs/creditcard-warn.log.%d{MM-dd-yyyy}">
            <ThresholdFilter level="warn" onMatch="ACCEPT"
                             onMismatch="DENY"/>
            <PatternLayout
                    pattern="%d{yyyy-MM-dd 'at' HH:mm:ss.SSS z} %-5level %c %M-%msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="false" interval="1"/>
            </Policies>
        </RollingFile>

        <!-- creditcard error -->
        <RollingFile name="creditcard-error" fileName="${LOG_HOME}/creditcard-error.log"
                     filePattern="logs/creditcard-error.log.%d{MM-dd-yyyy}">
            <ThresholdFilter level="error" onMatch="ACCEPT"
                             onMismatch="DENY"/>
            <PatternLayout
                    pattern="%d{yyyy-MM-dd 'at' HH:mm:ss.SSS z} %-5level %c %M-%msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="false" interval="1"/>
            </Policies>
        </RollingFile>

    </appenders>
    <!--然后定义logger，只有定义了logger并引入的appender，appender才会生效-->
    <loggers>
        <!--建立一个默认的root的logger-->
        <root level="debug">
            <appender-ref ref="Console"/>
        </root>

        <!-- 框架运行中涉及到的日志 -->
        <logger name="com.br.rpc" additivity="false">
            <appender-ref ref="rpc-info"/>
            <appender-ref ref="rpc-error"/>
        </logger>

        <logger name="com.br.creditcard" additivity="false">
            <appender-ref ref="creditcard-info"/>
            <appender-ref ref="creditcard-error"/>
            <appenderRef ref="Console" />
            <!--这段上正式的时候需要去掉-->
        </logger>

        <logger name="com.br.rpc.common.log" additivity="false">
            <appender-ref ref="rpc-trace-info"/>
        </logger>

        <logger name="org.apache.thrift" additivity="false">
            <appender-ref ref="thrift-error"/>
        </logger>

    </loggers>
</configuration>
